/*body {
  font-family: helvetica, sans-serif;
  font-size: 14px;
}*/

#cy {
  position: absolute;
  left: 300;
  top: 100;
  right: 300;
  bottom: 100;
  z-index: 999;
}

/*h1 {
  opacity: 0.5;
  font-size: 1em;
}*/
